

.container {
    /* background-color: red; */
    display: flex;
    flex-direction:column;
    align-items:center;

}

.button{
    width: 58px;
    height: 63px;
    /* font-style: oblique; */
    font-size: larger;
    border-radius: 13px;
    cursor: pointer;
    background-color: rgb(209, 172, 195);
    margin: 2px 2px;
    font-size: 1.7rem;
}
.input{
    margin: 7px 0px;
    padding: 16px 17px;
    font-size: large;
    border-radius: 7px;
}
